/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.letradedoctor {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}
